<nav class="navbar navbar-expand-lg navbar-dark bg-dark py-0 mb-0">
    <div class="container-fluid">
        <a class="navbar-brand py-0" href="/"><img src="/img/Logo.png" style="max-height: 90px;"
                alt="Kersha Eske Gebeta"></a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#Content"
            aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="Content">

            <ul class="navbar-nav ml-auto">
                {{#if HomePage}}
                <li class="nav-item active">
                    <a class="nav-link" href="/">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Menu">Menu</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Login">Login</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/About">About</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Contact">Contact</a>
                </li>
                {{/if}}
                
                

                <!--this is for the navigation bar of purchser page-->
                {{#if purchaserfullName}}
           
                <div class="collapse navbar-collapse" id="navbarText">
                <ul class="navbar-nav mr-auto">
                <li class="nav-item">
                    <a class="nav-link" href="/CSMOrders">CSM Orders<span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Request">Request<span class="sr-only">(current)</span></a>
                </li>
                
              <li> <img src="img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{purchaserfullName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                      
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>  
               </ul>
               </div>>
                                <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->

                <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->
           
                {{/if}}





                {{#if SSMfullName}}

               
                  <li> <img src="img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{SSMfullName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ManageEmployee">Manage Employee</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>

                <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->

                <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->

                <!-- Manage Employee  modal-->
                {{> _manageAccount}}
                <!-- end of Manage Employee modal -->
                {{/if}}







                {{#if MerchantName}}
                  <li> <img src="img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{MerchantName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ManageEmployee">Manage Employee</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
      
                <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->

                <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->

                <!-- Manage Employee  modal-->
                {{> _manageAccount}}
                <!-- end of Manage Employee modal -->
                {{/if}}








                {{#if CSMfullName}}
                  <li> <img src="img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{CSMfullName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ManageEmployee">Manage Employee</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
      
                <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->

                <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->

                <!-- Manage Employee  modal-->
                {{> _manageAccount}}
                <!-- end of Manage Employee modal -->
                {{/if}}

                {{#if casherfullName}}
              <li class="nav-item active">
                    <a class="nav-link" href="/casher_customerOrder">Customer Orders <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/casher/newOrder">New Order</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/Casher_Report">Report</a>
                </li>
                <li> <img src="img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
             <li class="nav-item dropdown ">
                                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown"
                                        role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                      {{casherfullName}}
                                    </a>
                                        <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                                       <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                                       <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                                
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Logout</a>
                                    </div>
                                </li>
                                 {{> _changeProfile}}
                                 {{> _changePassword}}

                {{/if}}



                
                {{#if shopSMfullName}}
                     <li> <img src="/img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{shopSMfullName}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ManageEmployee">Manage Employee</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>

                <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->

                <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->

                <!-- Manage Employee  modal-->
                {{> _manageAccount}}
                <!-- end of Manage Employee modal -->
                {{/if}}

                {{#if logisticfullname}}

                <li> <img src="/img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{logisticfullname}}
                        </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Password</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>

                <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->

                <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->

                {{/if}}


               {{#if customerfullname}}
                     <li> <img src="/img/profile.png" class="rounded-circle " style="height: 40px; width:40px" alt="user"> </li>
                <li class="nav-item dropdown">
                    <a class="nav-link btn-lg dropdown-toggle" href="#" id="navbarDropdown" role="button"
                        data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        {{customerfullname}}
                    </a>
                    <div class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <a class="dropdown-item" data-toggle="modal" data-target="#ViewCharts">View Charts</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangeProfile">Change Profile</a>
                        <a class="dropdown-item" data-toggle="modal" data-target="#ChangePassword">Change Passward</a>
                        <div class="dropdown-divider"></div>
                        <a class="dropdown-item" href="#">Logout</a>
                    </div>
                </li>
<w charts modal-->
                {{> _viewCharts}}
                <!-- end of view charts moda<<<<<< HEAD
=======

                <!-- viel -->

                   <!-- Change Profile modal-->
                {{> _changeProfile}}
                <!-- end of change profile modal -->


                 <!-- Change Password modal-->
                {{> _changePassword}}

                <!-- end of change Password modal -->
                <!-- view chats modal -->
              

                {{/if}}


>>>>>>> 2d92ad831fe6dee8c684a2033c6d9887730b7341
            </ul>
            
        </div>

    </div>
</nav>